<div class="flex justify-between items-center bg-white py-4 shadow-md w-full px-5 z-10">
    <div class="bg-dark-blue-1 w-28 h-9"></div>
    <div class="flex gap-3 items-center">
        <div class="flex">
            <!-- search -->
            <form action="" class="relative flex">
                <i data-feather="search" stroke-width="3" class="text-neutral-2 text-sm absolute left-2 top-1.5"></i>
                <input type="text"
                    class="pl-10 pr-1 py-1.5 focus:outline-none border border-neutral-2 placeholder:font-light"
                    placeholder="Search" />
                <button type="submit"
                    class="px-3 py-1 border border-dark-blue-4 text-dark-blue-4 text-lg font-bold">Search</button>
            </form>
        </div>
        <div class="text-lg font-bold bg-dark-blue-1 w-9 h-9 rounded-full flex justify-center items-center">
            <!-- username -->
            <span>U</span>
        </div>
        <span>Unis Badri</span>
        <i data-feather="chevron-down"></i>
    </div>
</div>