<div class="bg-dark-blue-4 h-screen max-w-max flex flex-col items-center">
    <div class="bg-dark-blue-1 w-9 h-9 mt-4 flex-shrink-0"></div>
    <div class="flex flex-col mt-5 text-white">
        <a href="#" class="flex flex-col items-center py-3 px-1 gap-2">
            <i data-feather="home"></i>
            <p class="text-sm">Dashboard</p>
        </a>
        <a href="/" class="flex flex-col items-center py-3 px-1 gap-2 bg-white bg-opacity-30">
            <i data-feather="truck"></i>
            <p class="text-sm font-bold">Cars</p>
        </a>
    </div>
</div>